body{
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: auto;
}
label{
    font-weight: bold;
}
input, select, textarea{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
}
button{
    width: 180px;
    height: 35px;
    border-radius: 3px;
    padding: auto;
}
