*{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    margin: auto;
}
button{
    background-color: darkcyan;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 6px;
}

button:hover{
    width: 100px;
    height: 20px;
    background-color: rgb(0, 139, 46);
    border-bottom-left-radius: 8px;
    border-top-right-radius: 10px;
    text-align: justify;
}
div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}